.card__container {
  border: solid 2px black;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
}

.card--title h2 {
  color: aliceblue;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.card--image {
  background-color: #616161;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  border-radius: 10px;
}
img {
  width: 100%;
}

.card--stats {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card--stats__type {
  color: #232323;
  background-color: coral;
  border-radius: 5px;
  font-weight: 900;
  padding: 5px;
  margin: 0 3px;
  text-transform: uppercase;
}
input {
  width: 250px;
  height: 28px;
  border-radius: 5px;
  border: none;
  margin-bottom: 8px;
  box-shadow: rgba(177, 133, 133, 0.35) 0px -50px 36px -28px inset;
  text-align: center;
}
